nav {
    height: 100%;
    background: #fff;
}

.navbar {
    background: #0DB8DE;
}

.navbar a {
    color: #fff !important;
    display: inline-block;
    padding: 5px 10px;
}

.navbar-right {
    flex-direction: row;
}

.username {
    text-transform: capitalize;
}

.navbar a.go-to-user-btn{
    background: #fff;
    color: #000 !important;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h3 {
    text-transform: capitalize;
}

.table {
    background: #fff;
}

.table th td {
    background-color: rgba(13, 184, 222,.4);
}
.table-hover tbody tr:hover {
    background-color: rgba(13, 184, 222,.2);
}
